<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
        /*bootstrap.css*/
    </style>

    <script>
        /*bootstrap.js*/
    </script>

    <script>
        /*crypto-js.js*/
    </script>

    <style>
        /*style.css*/
    </style>

    <title>CryptoMessage</title>
</head>
<body class="bg-light">

<!--    Header    -->
<div class="position-fixed start-0 top-0 end-0 text-white">
    <div class="container p-3 pt-2 pb-2 bg-dark rounded-bottom d-flex justify-content-between">
        <div>User: <span id="name">Загрузка...</span></div>
        <div>Room key: <span id="room_key">Загрузка...</span></div>

    </div>
</div>


<!--    Chat    -->
<div class="position-fixed bottom-0 start-0 top-0 end-0">
    <div class="h-100 pb-5 pt-5">
        <div class="h-100 pb-5">
            <div id="chat" class="container rounded border-dark border mb-5 h-100">
                <div>Загрузка...</div>
            </div>
        </div>
    </div>
</div>

<!--    New message    -->
<div id="new_message" class="position-fixed bottom-0 start-0 end-0">
    <div class="container pb-4 p-3 bg-dark rounded-top">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control bg-secondary border-white text-white shadow-none"
                   placeholder="New Message" aria-label="New Message" id="message"
                   aria-describedby="addon-wrapping">
            <button class="btn btn-outline-secondary text-white shadow-none border-white" type="button"
                    onclick="sendMessage()">Send
            </button>
        </div>
    </div>
</div>

<script>
    /*vars.js*/
    /*encryption.js*/
    /*socket.js*/
    /*functions.js*/
    document.onkeydown = (e) => {
        if (e.keyCode === 13) {
            sendMessage();
        }
    }
</script>
</body>
</html>